@font-face {
  font-family: 'Roobert';
  src: url('./assets/fonts/Roobert-Regular.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Roobert';
  src: url('./assets/fonts/Roobert-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'Kanit';
  src: url('./assets/fonts/Kanit-ExtraBold.ttf');
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roobert', "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, input {
  outline: none;
}

button {
  cursor: pointer;
  font-weight: bold;
  color: #666;
  background: var(--main-color);
  user-select: none;
  -webkit-user-select: none;
}

button:hover {
  background: var(--main-color-hover);
}

:root {
  --main-color: #FFDB59;
  --main-color-hover: #f1ca3f;
  --fail-color: red;
  --success-color: green;
}
